<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Monefy Suite">
    
    <listeners>
        <listener class-name="com.monefy.utils.TestListener" />
    </listeners>

    <test name="E2E Tests">
        <classes>
            <class name="com.monefy.tests.E2EFinancialCorrectionTest" />
        </classes>
    </test>
</suite>